<p>
  <button type="button" class="btn  btn-primary">Connect</button>
  <button type="button" class="btn  btn-primary">Disconnect</button>
  
</p>
<div>
  <p>
    Battery
    <i class="fa fa-battery-half"></i></p>

    <p>
      Network
      <i class="fa fa-wifi"></i>
    </p>
    <p>
      Current Speed: 35
    </p>

    <h3>
      Port Config
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose Port
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        <div class="input-group mb-3">
            
            <input type="text" class="form-control" placeholder="APIKey" aria-label="APIKey" aria-describedby="basic-addon1">
          </div>
          
         
    </h3>

</div>
